<div class="header">
    <nav class="header__links">
        <a href="/" class="header__link">Home</a>
        <!-- <a href="/about" class="header__link">About me</a>
        <a href="/project" class="header__link">Project</a> -->
    </nav>
    <nav class="social_media">
        <a class="social_media__link" target="__blank" rel="noopener noreferrer nofollow" href="https://twitter.com/{{.Site.Params.twitter}}">
            <img class="social_media__link__icon" alt='Twitter icon' src="/icons/twitter.svg" />
        </a>
        <a class="social_media__link" target="__blank" rel="noopener noreferrer nofollow" href="https://github.com/{{.Site.Params.github}}">
            <img class="social_media__link__icon" alt='Github icon' src="/icons/github.svg" />
        </a>
    </div>
</div>